/* My First CSS */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffcc;
}

img {
  border: 10px solid green;
}

h1 {
  border: 5px dotted red;
}

blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: white;
  font-style: italic;
  text-align: center;
  background-image: url(http://placekitten.com/200/300);
}

cite {
  font-size: 1.25rem;
  background-color: white;
  color: black
}

.bigbold {
  font-weight: bold;
  font-size: 1.1rem;
  color: blue;
}

footer {
  margin-top: 5em;
  font-size: 0.75em;

}

.end-content {
  border: 2px solid blue;
  padding: 0px;
}

.end-content p {
  margin: -0.5rem 1rem -1rem 1rem;
  border: 1px solid red;
}

.para1 {

}

.para2 {

}

